<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,82}</string>
                <key>spriteSourceSize</key>
                <string>{50,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,82}</string>
                <key>spriteSourceSize</key>
                <string>{49,82}</string>
                <key>textureRect</key>
                <string>{{53,1},{49,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubingleft.png</string>
            <key>size</key>
            <string>{103,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46070506140ffcd6523e9fde385d0dad:0a252775db0775304529181fcbe80bf7:18ebe3f719412284ecf0835e86686fdc$</string>
            <key>textureFileName</key>
            <string>bubingleft.png</string>
        </dict>
    </dict>
</plist>
