<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,83}</string>
                <key>spriteSourceSize</key>
                <string>{51,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{51,82}</string>
                <key>textureRect</key>
                <string>{{1,86},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubingright.png</string>
            <key>size</key>
            <string>{53,169}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bb5f1b068b50a14f5bb91d4d9bcb603:a5c6683802166a0aa96fbef1496398fc:c222c520a0923f4807154a875ccadc73$</string>
            <key>textureFileName</key>
            <string>bubingright.png</string>
        </dict>
    </dict>
</plist>
