<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{47,84}</string>
                <key>textureRect</key>
                <string>{{1,91},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,88}</string>
                <key>spriteSourceSize</key>
                <string>{47,88}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubingforward.png</string>
            <key>size</key>
            <string>{49,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61cde0c35aeb2c691ecb6ed82eadcf10:df48ba9701b9d825382f8e36c49a3613:7309e0afa50452d27fabadbd8ba0f634$</string>
            <key>textureFileName</key>
            <string>bubingforward.png</string>
        </dict>
    </dict>
</plist>
