<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,84}</string>
                <key>spriteSourceSize</key>
                <string>{47,84}</string>
                <key>textureRect</key>
                <string>{{1,176},{47,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,85}</string>
                <key>spriteSourceSize</key>
                <string>{47,85}</string>
                <key>textureRect</key>
                <string>{{1,89},{47,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bubing9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,86}</string>
                <key>spriteSourceSize</key>
                <string>{47,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bubingback.png</string>
            <key>size</key>
            <string>{49,261}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f52a21ef25ce54eb8b028a4ce62899:12e93ba29543b2771878acc63770a148:fcfc8b68fa2d7510ac71c6a832d646d7$</string>
            <key>textureFileName</key>
            <string>bubingback.png</string>
        </dict>
    </dict>
</plist>
